@model IEnumerable<Spengergasse.MusicMetaWebApp.Models.Song>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
      @Html.ActionLink("Title", "Index", "Songs", new { order = ViewBag.SortByTitle, currentFilter = ViewBag.CurrentFilter }, null)
      @if (ViewBag.CurrentSort == "title") {@Html.Encode("▾")}
    </th>
    <th>
      @Html.ActionLink("Genre", "Index", "Songs", new { order = ViewBag.SortByGenre, currentFilter = ViewBag.CurrentFilter }, null)
      @if (ViewBag.CurrentSort == "genre") {@Html.Encode("▾")}
    </th>
    <th>
      @Html.ActionLink("Album", "Index", "Songs", new { order = ViewBag.SortByAlbum, currentFilter = ViewBag.CurrentFilter }, null)
      @if (ViewBag.CurrentSort == "album") {@Html.Encode("▾")}
    </th>
    <th>
      @Html.ActionLink("Artist", "Index", "Songs", new { order = ViewBag.SortByArtist, currentFilter = ViewBag.CurrentFilter }, null)
      @if (ViewBag.CurrentSort == "artist") {@Html.Encode("▾")}
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DiscNo)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.TrackNo)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ReleaseDate)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Comment)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @if (!string.IsNullOrEmpty(item.Genre)) {
          @Html.ActionLink(item.Genre, "Songs", "Index", new { genre = item.Genre }, null)
        }
      </td>
      <td>
        @if (!string.IsNullOrEmpty(item.Album?.Name)) {
          @Html.ActionLink(item.Album.Name, "Details", "Albums", new { id = item.AlbumId }, null)
        }
      </td>
      <td>
        @if (!string.IsNullOrEmpty(item.Artist?.Name)) {
          @Html.ActionLink(item.Artist.Name, "Details", "Artists", new { id = item.ArtistId }, null)
        }
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DiscNo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TrackNo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ReleaseDate)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Comment)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>
    </tr>
  }

</table>
