@model Spengergasse.WebApplication.Models.klassen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klassen</h4>
    <hr />
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.K_ID)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.K_ID)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.K_Bez)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.K_Bez)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.K_L_Klavst)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.lehrer.L_Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.K_S_Klasprstv)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.K_S_Klasprstv)
      </dd>

      <dt>Schüler</dt>
      <dd>@string.Join(", ", Model.schuelers.Select(s => s.S_Name));</dd>

      <dt>Anzahl</dt>
      <dd>@Html.DisplayFor(model => model.schuelers.Count)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.K_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
