@model IEnumerable<Spengergasse.WebApplication.Models.klassen>

@{
    ViewBag.Title = "Klassen";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.K_Bez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K_L_Klavst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K_S_Klaspr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K_S_Klasprstv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.K_Bez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lehrer.L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schueler.S_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schueler1.S_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.K_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.K_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.K_ID })
        </td>
    </tr>
}

</table>
