@model Spengergasse.MusicMetaWebApp.Models.HIF3bkaiserEntities

@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Music Meta Database</h1>
  <p class="lead">Saves your music metadata.</p>
</div>

<div class="row">
  <h3>Albums</h3>
  @Html.Partial("~/Views/Albums/_AlbumsPartial.cshtml", Model.Albums.Take(5))
  @Html.ActionLink("Show more...", "Index", "Albums")
  <hr />

  <h3>Artists</h3>
  @Html.Partial("~/Views/Artists/_ArtistsPartial.cshtml", Model.Artists.Take(5))
  @Html.ActionLink("Show more...", "Index", "Artists")
  <hr />

  <h3>Songs</h3>
  @Html.Partial("~/Views/Songs/_SongsPartial.cshtml", Model.Songs.Take(5))
  @Html.ActionLink("Show more...", "Index", "Songs")
</div>
