@model IEnumerable<Spengergasse.WebApplication.Models.schueler>

@{
    ViewBag.Title = "Schüler";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()) {
  <label for="search">Suche</label> <input type="text" name="search" id="search" />
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.S_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Gebdat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_K_Klasse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.S_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Vorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Gebdat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.klassen.K_Bez)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.S_SCHNR }) |
            @Html.ActionLink("Details", "Details", new { id=item.S_SCHNR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.S_SCHNR })
        </td>
    </tr>
}

</table>
