@model Spengergasse.WebApplication.Models.stunden

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stunden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ST_G_Fach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gegenstaende.G_Bez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_K_Klasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klassen.K_Bez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_L_Lehrer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lehrer.L_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_R_Raum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raeume.R_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { klasse = Model.ST_K_Klasse, stunde = Model.ST_Stunde }) |
    @Html.ActionLink("Back to List", "Index")
</p>
