@model IEnumerable<Spengergasse.WebApplication.Models.stunden>

@{
  ViewBag.Title = "Stunden";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
  @Html.DropDownList("lehrer", null, "Alle Lehrer", htmlAttributes: new { @class = "form-control" })
  @Html.DropDownList("klassen", null, "Alle Klassen", htmlAttributes: new { @class = "form-control" })
  <input type="submit">
}


<p>
  @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("IndexPartial", Model)
